@keyframes logo-letter-1-1 {
  to {
    transform: translate(-45%, -55%);
  }
}

@keyframes logo-letter-1-2 {
  to {
    transform: translate(-55%, -45%);
  }
}

@keyframes logo-letter-2 {
  to {
    clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@keyframes logo-letter-3 {
  from {
    transform: rotate(-3deg) translate(-50%, -50%);
  }
  to {
    transform: rotate(3deg) translate(-50%, -50%);
  }
}

@keyframes logo-letter-4 {
  from {
    transform: scale(1.05) translate(-50%, -50%);
  }
  to {
    transform: scale(0.95) translate(-50%, -50%);
  }
}

@keyframes logo-letter-6 {
  to {
    clip-path: polygon(0 0, 30% 0, 30% 70%, 85% 70%, 85% 100%, 0 100%);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  100% {
    transform: rotate(0.5deg);
  }
}

@keyframes shake-hard {
  0% {
    transform: translate(0, 2px) rotate(5deg);
  }
  100% {
    transform: translate(0, -2px) rotate(-5deg);
  }
}

@keyframes shake-horizantal {
  0% {
    transform: scale(1.1) translate(-2px);
  }
  20% {
    transform: scale(0.9) translate(2px);
  }
  40% {
    transform: scale(1.1) translate(-2px);
  }
  70% {
    transform: scale(0.9) translate(2px);
  }
  100% {
    transform: scale(1.1) translate(-2px);
  }
}

@keyframes scale {
  to {
    transform: scale(1.1);
  }
}
